
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
html {
  scroll-behavior: smooth;
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border:none;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  transition: all .5s linear;
}
li
{
  list-style: none!important;
}
a
{
  text-decoration: none!important;
}

.bg
{
  background:#fff!important;
}
:root{
  /* --pink:#c70a33; */
  --pink:#ff1971;
 --black:#192a56;
  --green:#192a56;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.desh
{
  color:var(--pink);
  padding-right: 10px;
}
.above-navbar
{
  height: 40px;
}
html
{
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-padding-top:5.5rem;
  scroll-behavior: smooth;
}
.nav-after a
{
  color: black;
}
.nav-after a:hover
{
  color: var(--pink);
  transition: 0.3s ease all;
}
.navbarater-contnet
{
  display: flex;
}
.navbarater-contnet li
{
  margin-right: .3rem;
}
.navbarater-contnet li p
{
  color:#666;
}
.above-navbar-links ul
{
  display: flex;
  width: 100%;
  padding-top: .1rem;
}
.above-navbar-links ul li
{
  margin-right: 1rem;
}
.above-navbar-links ul li a
{
  color: white;
}
.above-navbar-links ul li a:hover
{
  color: var(--pink);
  transition: 0.3s ease all;
}
.above-navbar-content p
{
  color: white;
  font-size: .9rem;
  padding-top: .2rem;
}
.above-navbar
{
  display: flex;
  background: black;
  justify-content: space-around;
  padding: 0!important;
  padding-top: .4rem!important;
}
header
{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* position: stiky;
  top: 0; */
   box-shadow: var(--box-shadow);
 }
.container-fluid .navbar-brand
{
  font-weight: bolder;
  font-size: 1.rem;
}
.navbar-brand
{
  color:var(--black)!important;
}
.navbar-brand span
{
  color: var(--pink)!important;
}
.navbar-brand .carss
{
  margin-top: .6rem;
  color: var(--pink);
}
.navbar a
{
  padding-left: 60px;
}
.navbar-nav
{
  padding-right: 60px;
}
#navbarSupportedContent ul li a:hover
{
  color:var(--pink);
  transition: .3s ease all;
}
header .nm a:hover{

  color: #fff!important;
  background: var(--pink);
  transform: rotate(360deg);

}
.nav-after
{
  margin-top: 3.8rem;
  background: #f3f2ee!important;
  height: 130px!important;
}
.nav-after h4
{
  margin-left: 2rem;
  font-weight: bold;
}
header .nm a
{
  font-size: 1.2rem;
  margin-top: .2rem;
background: #eee;
margin-right: .4rem;
  border-radius: 50%;
  color: var(--black)!important;
}
.navbar-toggler:hover
{
  background: var(--pink)!important;
  border:transparent;
  transition: .3s ease;
  outline: none;
}
.navbar-toggler-icon:hover
{
  color: #fff!important;
}
.aboutus
{
  padding: 0!important;
}

section
{
  padding: 2rem 8%;
}

.home .home-slider .slide
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:2rem;
  padding-top: 9rem;
}

.home .home-slider .slide .content
{
  padding-top: 5rem;
  flex:1 1 45rem;
  padding-left: 2rem;
}

.home .home-slider .slide .image
{
  margin-left: 1.5rem;
  width:450px;
  height:500px;
}

.home .home-slider .slide .image img{
  width: 100%;
  height: 100%;
}
.home .home-slider .slide .content span{
  color:var(--pink);
  font-size: 1.5rem;
}
.home .home-slider .slide .content h3{
  color:var(--black);
  font-weight: bolder;
  font-family: 'Cabin', sans-serif;
  font-size: 3rem;
}
.home .home-slider .slide .content p{
  color:var(--light-color);
  font-size: 1rem;
  line-height: 1.5;
  padding: .5rem 0;
}
.swiper-pagination-bullet-active
{
  background: var(--pink)!important;
}

.btn-color
{
  background:var(--pink)!important;
  color:#fff!important;
}
.btn-color:hover
{
  transition: .3s ease all;
  background:var(--black)!important;
  color:#fff!important;
}
section:nth-child(even)
{
  background: #fff;
}

.card-image
{
  /* width:300px;
  height: 400px; */
}
.card-image img
{
  width: 100%;
}
.featured
{
  text-align: center;
  align-items: center;
}
.featured .row .f-image img
{
  width:100%;
  /* height: 100%; */
}
.g
{
  /* box-shadow: var(--box-shadow); */
}
.f-images
{

  display: flex;
  width: 100%;
}
.f-images li
{
  padding-right: 10px;
}
.f-images li a img
{
    width: 100%;
}
.btns
{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.btns h5
{
  padding-top: .8rem;
}
section.sale
{
  margin-top: 7rem;
  background: linear-gradient(

		/* rgba(35,43,56,0.9),
		rgba(35,43,56,0.9) */
    rgba(1,5,2,0.4),
      rgba(1,5,2,0.4)
	),url("../img/back.jpg");

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  height: 400px;
  position: relative;
	background-attachment: fixed;
}
.sale .container
{
  position: absolute;
  color: #fff;
  top:50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.toss
{
  height: 100vh;
}

.products
{
  text-align: center;
  align-items: center;
}

.products .product-name .product-name-list
{
  display: flex;
  width: 100%;
  justify-content: center;
}
.products .product-name .product-name-list li
{
  padding: 0 3rem;
  font-size: 1.5rem;
}
.product-items-images
{
  height: 300px;
  background-repeat: no-repeat!important;
  background-position: center;
  position: relative;
}
.product-item-content
{
  text-align: left;
  margin-top: 1.2rem;

  line-height: 0;
}
.product-item-content p
{
  font-weight: bold;
}
.product-item-content i
{
  color: var(--light-color);
}
.product-item-content h5
{
  font-weight: bold;
  margin-top: .5rem;
  font-size: 1.2rem;
}
.product-items-images .pos
{
  position: absolute;
  top: 2rem;
  right: -.1rem;
  color: transparent;
  font-size: 1.8rem;
}
.product-items-images .poss
{
  position: absolute;
  bottom: 1rem;
  color:#fff;
  left: .1rem;
}
.product-items-images:hover .pos
{
  right: 2.5rem;
  color: var(--pink);
}
.product-items-images:hover .poss
{
  bottom: -.2rem;
  color: var(--pink);
}
.timer
{
  background: #f3f2ee!important;
  padding: 5rem 5rem;
}

.countdown
{
  display: flex;
  text-align: center;
  width: 100%;
}
.countdown span{
  font-size: 2.3rem;
}
.countdown .cd-item
{
  margin-right: 1.5rem;
}
.tp
{
  margin-left:1rem;
}
.timer-content
{
  padding-top: 5rem;
}
.timer-content p
{
  color:var(--pink)!important;

  font-size: 1.2rem;
}
.timer-content h3
{
  font-size: 2.5rem;
  font-weight: bold;
}
.dws
{
  padding-top: 8rem;
  padding-left: 8rem!important;
}
.dws p
{
  font-size: 1.5rem;
}
.dws h3
{
  font-weight: 1000;
  margin: 2rem 0;
}
.big-img
{
  margin-top: 8%!important;
  width: 50%!important;
}
.big-img img
{
  width: 100%;
}
.instagram
{
  height: auto;
  padding-top: 5rem;
}
.instagram-images
{
  height: 300px;
  background-repeat: no-repeat!important;
  background-position: center!important;
}
.instagram-content
{
  padding-top: 50%;
}
.instagram-content h3
{
  font-weight: bold;
  font-size: 2rem;
}
.instagram-content p
{
  padding: 3rem 0;
}
.instagram-content h2 span
{
  color: var(--pink);
  font-weight: bold;
}
.newslatter
{
    background: #f3f2ee!important;
    margin-top: 5rem!important;
    position: relative;
    width: 100%;
    height:60vh;
}
.newslatter .content
{
  position: absolute;
  text-align: center;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.newslatter .content h2
{
  font-weight: bold;
}
.newslatter .content input
{
  width: 50%;
  padding: .6rem 1rem;
}
.footers
{
  margin-top:5rem;
  background: #111111;
  height: auto;
  text-align: left!important;
  color: #fff;
  padding: 5rem 10rem;
}
.footers a
{
  color:#b7b7b7;
}
.footers .kps
{
font-size: 1.8rem!important;
color: #fff!important;
}
.footer-toss
{
  margin-top: 2rem;
  border-bottom: 1px solid var(--light-color);
}
.sl
{
  margin-top: 1rem!important;
}
.footers p
{
  margin: 2rem 0;
  font-size: 1rem;
  width: 80%;
  line-height: 1.5rem;
  color:#b7b7b7;
}
.shoping-list
{
  margin-left: -32px!important;
  margin: 2rem 0;
}
.help-list
{
  margin: 2rem 0;
  margin-left: -32px!important;
}
.shoping-list li,.help-list li
{
  margin-bottom: .8rem;
}
.shoping-list li a:hover,.help-list li a:hover
{
  color: var(--pink);
}
.footers h4
{
  font-size: 1.2rem;
}
.help-list
{
  text-align: left;
}
.footer-copyright
{
  text-align: center;
  margin: auto;
  padding-top: 1.5rem;
}
.footer-copyright p
{
  width: 90%;
  margin: auto;
}
.footer-copyright span
{
  color: var(--pink)
}
.footers input
{
  border: none;
  background: transparent;
  color: white;
  border-bottom:1px solid #fff;
}
.footers i:hover
{
  color:var(--pink);
}


.contact  {
  padding: 2rem 0;
}

.map-con
{
  display: flex;
}
.map-con #name
{
  margin-right: 1rem;
}
.form-group input
{
  margin-bottom: 2rem;
}
iframe
{
  width: 100%;
}
.contact-info
{
  color: var(--pink)!important;
  font-size: 1.2rem;
}
.contact-info-1
{
  font-size: 0.8rem;
  color:var(--light-color);
}
.contact p
{
  color: var(--light-color);
}
.shop
{
  /* margin-top: 10%; */
  box-sizing: border-box;
}
.scroll a
{
  display: block;
  color:#666;
  cursor: pointer;
}
.scroll
{
  margin-top: 2.5rem;
}
.scroll a span
{
  float: right;
}
.list
{
  cursor: pointer;
  color: var(--light-color);
}
.list-active,.btnn:hover
{
  color: black;
  text-decoration: underline;
}
.cat-link
{
  color: black!important;
  font-family: 'Hind Siliguri', sans-serif;
  margin-bottom: 1.1rem;
}
.border
{
  border:1px solid black;
  /* height: 200px; */
}
.shop-form
{
  position: relative;
}
.shop-form input
{
  border:1px solid #e5e5e5;
  color: #b7b7b7!important;
  padding: .4rem 1rem;
  width: 100%;
}
.shop-form  button
{
  position: absolute;
  top:8px;
  right:12px;
  background: transparent;
}
.shop-form  button span i
{
  background: transparent;
  color:var(--pink);
}
.shop-image-content
{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.shop-images-setting
{
  width: 90%;
  height: 75%;
  margin: auto;
  position: relative;
}
.shop-images-setting img
{
  width: 100%;
  height: 100%;
}
.image-position
{
  position: absolute;
}
.product-items-images:hover .ipos
{
  right: 1rem;
  color: var(--pink);
}
.product-items-images:hover .iposs
{
  bottom: -1.8rem;
  color: var(--pink);
}
.product-item-contents
{
  margin-top: 2.5rem!important;
  margin-left: 1rem;
}
.ipos
{
  position: absolute;
  top: 2rem;
  right: -.1rem;
  color: transparent;
  font-size: 1.8rem;
}
.iposs
{
  position: absolute;
  bottom: 1rem;
  color:transparent;
  left: .1rem;
}
.active
{
  color:var(--pink)!important;
}
#size-boxes ul
{
  display: flex;
  flex-wrap: wrap;
}
#size-boxes ul li
{
  border:1px solid #666;
  padding: .3rem .7rem;
  margin: .5rem .8rem 0 0;
  cursor: pointer;
}
.cams
{
  color:aqua!important;
}

.bactive, .box:hover {
  background-color: black;
  color: white!important;
  transition: .3s ease all;
}
.shop-tags
{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.shop-tags a
{
  background: #f1f5f8;
  color:black!important;
  padding: 3px 8px;
  margin-top: .5rem;
  margin-right: .5rem;
}
.shop-tags a:hover
{
  background: black;
  color: white!important;
  transition: .5s ease all;
}
.shop-color input
{
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent;
}
.shop-color label
{
  background: aqua;
  border-radius: 50%;
  height: 50px;
  color: white;
  width: 50px;
}
.pagination
{
  position: relative;
  margin-top: 5rem;
}
.sectionss
{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sectionss a
{
  color: black;
  padding: .8rem;
  font-weight: bold;
  height: 10px;
}
.sectionss a:hover
{
  color:var(--pink);
  transition: .3s ease all;
}

.aboutus-images
{
  width:90%;
  box-sizing: border-box;
  margin:auto;
}
.aboutus-images img
{
    margin-top: 5rem;
  width: 100%;
  vertical-align: middle;
}
.aboutus-content
{
  padding: 0 4rem;
}
.aboutus-content p
{
  color: var(--light-color);
  font-size: .85rem;
}
.aboutus-content h3
{
  font-weight: bold;
  opacity: .8;
}
.aboutus-team img
{
  width: 100%;
}
.cen
{
  color: var(--pink);
  font-size: 1rem;
}
.aboutus-team h2
  {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .aboutus-team p
  {
    color: var(--light-color);
  }
  .blog
  {
    /* margin-top: 4rem; */
    height: 48vh;
    position: relative;
  }
  .blog .content
  {
    position: absolute;
    top: 50%;
    opacity: .8;
    left: 50%;
    transform: translate(-50%,-50%);
  }
    .blog .content h1
    {
      color: white;
      font-size: 4rem;
    }
  .checkout .content .content-input
  {
    width: 100%;
    border-bottom: 1px solid green;
  }
.checkout  .coupan-content
{
  height: auto;
  padding-top: .8rem;
  padding-bottom: .1rem;
  padding-left: 1rem;
  background: #f5f5f5;
}
.checkout  .coupan-content p
{
  font-size: .8rem;
  font-family: 'Roboto', sans-serif;
}
.contact
{
  padding: 0;
  padding-bottom: 2rem;
}
.billing-details
{
  margin-top: 2rem;
}
.billing-details h4
{
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif!important;
}
.form-check
{
  margin-left: .8rem;
}
.form-check-label a
{
  font-size: 0.9rem;
  color: black;
}
.form-group span
{
  color: red!important;
}
.form-check-label a:hover
{
  color: var(--pink);
}
.form-check p
{
    font-size: 0.8rem;
    margin-top: .5rem;
}

.placeorder-content
{
    background: #f5f5f5;
    padding: 3rem 2rem 0 2rem;
}
.placeorder-content h2
{
  font-size: 1.5rem;
    font-family: 'Roboto', sans-serif!important;
}
.product-number-menu
{
  display: flex;
  justify-content: space-between;
}
.product-details-data
{
  display: flex;
  justify-content: space-between;
}
.product-details-data h3
{
  font-size: 1.2rem;
}
.product-details-data .amount
{
  color: var(--pink);
}

.shoping-cart h4
{
  font-size: 1.1rem;
      font-family: 'Roboto', sans-serif!important;
}
.shopingcart-images
{
  width: 100px;
}
.shopingcart-images img
{
  width: 100%;
}
.shopingcart-data
{
  display: flex;
}
.shopingcart-price
{
  padding: 2.5rem;
}
.shopingcart-button
{
  padding: 2rem;
}
.shopingcart-content
{
  padding: 1rem;
}
.delete-button
{
  width: 40px;
  height: 40px;
  padding: .2rem;
  padding-top: .4rem;
  padding-left: .85rem;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 50%;
}
.delete-button p
{
  font-size: 1.4rem;
}
.adder
{
  font-size: 1.2rem;
}
.incement
{
  font-size: 1.5rem;
  margin-right: .5rem;
  cursor: pointer;
}
.decrement
{
  font-size: 1.5rem;
  margin-left: .5rem;
  cursor: pointer;
}
.form-data
{
  border-bottom: 1px solid black;
}
.form-data input
{
  width: 50%!important;
}
.cart-details
{
  padding: 0 2rem;
}
.navbar-collapse ul ul
{
  position: absolute;
  display: none;
}
ul li:hover>ul
{
  display: block;
}
.extra-pages
{
  background: black;
  width: 13%;
}
.extra-pages li a
{
  color: white!important;
}
.product-shop-details
{
  /* background: #f3f2ee!important; */
}
.product-shop-details-image
{
  margin-bottom: 2rem;
  width: 150px!important;
}
.product-shop-details-image img
{
  width: 100%;
}
.product-shop-main img
{
  width: 100%;
}
.product-shop-main
{
width: 400px!important;
/* height: 100px!important; */
}
.price-box
{
  border: 1px solid black;
  width: 90px;
  padding: .4rem 0;
  position: relative;
  height: 40px;
}
.decrements
{
  position: absolute;
  left: 6px;
  font-size: 1rem!important;
    cursor: pointer;
}
.rowboc
{
  margin-top: 2rem;
  margin-bottom: 4rem;
  position: relative;
}
.colboc
{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.increments
{
  position: absolute;
  right: 6px;
  top: 6.5px;
  cursor: pointer;
  font-size: 1rem!important;
}
.product-price .fas
{
  color: var(--pink)!important;
}
.product-price h2
{
  margin-top: 1rem;
}
@media (max-width:991px) {

.home .home-slider .slide .image
{
  margin-left: .3rem;
}
.extra-pages
{
  background: black;
  width: 20%;
}
  #navbarSupportedContent ul
  {
    margin-left: 60px!important;
  }
  .footers
  {
    padding: 5rem 5rem;
  }
  header .nm a
  {
    background: transparent;
  }
  .instagram-images
  {
    height: 280px;
  }
  .cart-details
  {
    padding: 0rem;
  }
  .timer
  {
      padding: 2rem 1rem!important;
  }
  .big-img
  {
    text-align: center;
    width: 100%!important;
    margin-top: 3rem!important;
    margin:auto;
  }
  .newslatter .content input
  {
    width: 60%;
  }

  .dws
  {
    padding-left: 6rem!important;
  }
  .timer-content
  {
    margin-top: 3rem
  }
  header .nm a:hover{
    background: transparent!important;
    color: var(--pink)!important;
    border-radius: 50%;
  }
  .home .home-slider .slide .image
  {
    width:400px;
    height:400px;
  }
  .instagram-content
  {
    padding-top: 15%;
  }
  .navbar-brand
  {font-size: 1.4rem!important;}
  .navbar-toggler:hover
  {
    cursor: pointer;
    color: white!important;
  }
  .products .product-name .product-name-list li
  {
    padding: 0 1.5rem;
    font-size: 1.3rem;
  }
}
@media (max-width:767px) {

  .home .home-slider .slide .content
  {
    padding-top: 2rem;
  }
  .product-shop-images
  {
    display: flex;
  }

  .instagram-images
  {
    height: 200px;
  }
  .product-shop-main
  {
  width: 300px!important;
  /* height: 100px!important; */
  }

  .home .home-slider .slide
  {
    padding-top: 3rem;
  }
  .products .product-name .product-name-list li
  {
    padding: 0 1rem;
    font-size: 1.2rem;
  }

  .countdown span{
    font-size: 2rem!important;
  }
  .countdown .cd-item
  {
    margin-right: 1.2rem!important;
  }
  .instagram-content
  {
    padding-top: 20%!important;
  }
  .navbar-nav
  {
    padding-right: 20px!important;
  }
  .navbar-brand
  {font-size: 1.3rem!important;}
  .aboutus-images
  {
    width:100%;
  }
  .aboutus-content
  {
    padding:0rem!important;
  }
}
@media (max-width:576px)
{
  .newslatter .content input
  {
    width: 100%;
  }
  #navbarSupportedContent ul
  {
    margin-left: 8px!important;
  }

  .newslatter .content a
  {
    margin-top: 1.5rem;
  }
  .newslatter .content
  {
    width: 80%;
  }
  .navbar a
  {
    padding-left: 10px;
  }

  .instagram-images
  {
    height: 280px;
  }
  #navbarSupportedContent ul
  {
    padding-left: 10px;
  }
  .instagram-content
  {
    padding-top: 20%!important;
  }
  .home .home-slider .slide .image
  {
    text-align: center;
    margin-left: 0rem;
    width:330px;
    height:350px;
  }
  .countdown span{
    font-size: 1.5rem!important;
  }
  .extra-pages
  {
    background: black;
    width: 40%!important;
  }
  .countdown .cd-item
  {
    margin-right: 1rem!important;
  }
  .countdown .cd-item p
  {
    font-size: 1rem!important;
  }
  .products .product-name .product-name-list
  {
    display: block;
  }
  .product-items-images
  {
    background-position: cover!important;
  }
  .shop-form input
  {
    margin-top: 2rem!important;
  }

  .shop-image-content
  {
    flex-wrap: wrap;
  }
  .product-item-contents
  {
    margin-left: 1rem;
  }
  .aboutus-content
  {
    padding:0rem!important;
  }
  .shopingcart-data
  {
    display: block;
  }
.adder,.incement,.decrement
{
  font-size: 1rem!important;
  margin-top: .4rem;
}
.blog .content h1
{
  color: white;
  font-size: 3rem;
}
.product-name-list
{
  margin-left: -1.2rem;
}
.above-navbar
{
display: none;
}
}
